.cat {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
}
.header{
    background-image: url(../img/header.header.jpg);
    background-position: center;
    background-size: cover;
}
.transparent{
    background-color: transparent;
}
.bg-ImageTransparent{
    background-image: url(../img/depositphotos_44627471-stock-photo-transparent.jpeg);
}