.cat {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
}
.fond-aa{
    background-image: url(../img/header.header.jpg);
    background-position: center;
    background-size: cover;
}
.transparent{
    background-color: transparent;
}
.bg-ImageTransparent{
    background-image: url(../img/depositphotos_44627471-stock-photo-transparent.jpeg);
}
.bg-fond-image{
    background-color: black;
    background-position: center;
    background-size: cover;
}
.fond-dd {
    background-color: darkolivegreen;
    background-position: center;
    background-size: cover;
}
.padding-end-12{
    height: 1000px;
}
